@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth scroll;
}

body {
  font-size: 16px;
  line-height: 150%;
  font-family: 'Rubik', sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 4px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 .75rem;
  }
}
@media (max-width: 777.92px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 .75rem;
  }
}

.image_card_wrapper {
  width: 745px;
  height: 474px;
  display: flex;
  gap: 20px;
  padding: .4em;
}
@media (max-width: 1023.92px) {
  .image_card_wrapper {
    width: 100%;
    height: 100%;
  }
}

.image_card {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 24px;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_card:hover {
  flex: 6;
}

:root {
  --primaryClr: #1abc9c;
  --secondaryClr: #ff7a59;
}

.dotted-bg:before {
  content: "";
  position: absolute;
  display: block;
  top: 76%;
  left: 50%;
  width: 110%;
  height: 100%;
  background-size: 12px 12px;
  background-position: center;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(rgba(38, 70, 83,0.3) 14%, transparent 14%);
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
  mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
  z-index: 0;
}


.social-login-icons {
  display: flex;
  align-items: center;
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.socialcontainer {
  height: 30px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-30px);
}
.social-icon-2 {
  transition-duration: 0.4s;
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-30px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-30px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-30px);
}





